<h3>Useful links will go here</h3>
            <p><a href="http://www.uncc.edu">University Page</a>
            <a href="https://github.com/dmferrer00">Github</a>
            <a href ="https://dmferrer00.github.io">Github.io</a>
            <a href="https://dmferrer00.github.io/itis3135/">ITIS3135 Site</a> 
            <a href ="https://www.freecodecamp.org/dferrer">freecodecamp</a>
            <a href ="https://www.codecademy.com/profiles/dferrer_">Codecademy</a>
            </p>
            <p>Page Designed by <a href = "itis3135/ucribinc.com/index.html">UCRIB INC. ©2024</a> <a href="https://www.freecodecamp.org/certification/dferrer/responsive-web-design"><i>Certified in Response Web Design</i></a></p>