<h1>Daniel Ferrer Dominant Fish-Man || ITIS3135</h1>
            <nav class="navbar"> 
                    <a href="./">Home</a>
                    <a href="introduction.html">Introduction</a>
                    <a href="contract.html">Contract</a>
                    <a href="about.html">Company</a>
                    <a href="stuff/WOWdu&mb _ LOL.htm">Crappy Webpage</a>
                    <a href="website_evaluations.html">Website Evaluations</a>
                    <a href="tables.html">HTML Tables</a>
                    <a href="forms.html">HTML Forms</a>
                    <a href="firstscripts.html">First Scripts</a>
                    <a href="byo_intro.html">BYO Intro</a>
                    <a href="drawing.html">Drawing</a>
                    <a href="project/index.html">Client Project</a>
            </nav>